* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;                                       /*css grid pra aplicar o layout*/
    grid-template-rows: 120px 60px 1fr 60px;              /*cabeçalho 120px | navegação 60px | principal 1 fragmento | rodape 60px */
    grid-template-columns: 1fr;                          /*fragmento vai ocupar a tela, ou o que sobrar dela, se não tiver nada a mais, ele ocupará a tela toda*/
    grid-template-areas: 
    "cabecalho" 
    "navegacao" 
    "principal" 
    "rodape";
    
    
}

.cabecalho {
    grid-area: cabecalho;
    background-color: #a4d3a4;
    color: white;
    display: flex;                                     /*flex direction: todos os elementos dentro da mesma linha*/
    flex-direction: column;                            /*flex direction column: coloca os elementos em coluna*/
    justify-content: center;                           /*coloca o conteúdo no meio do cabeçalho*/
    align-items: center;                               /*coloca o conteúdo no centro do cabeçalho*/
    padding-bottom: 10px;                              /*dá mais um espaço no final do cabeçalho*/
    z-index: 1;                                        /*pra aparecer melhor a sombra do box shadow*/
    box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
}

.cabecalho > h1 {                                  /*editando a propriedade h1 do html (Curso PHP)*/
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;
}

.cabecalho > h2 {                                /*editando a propriedade h2 do html (índice dos Exercícios)*/
    margin: 0px;
    font-weight: 200;
    font-size: 1.6rem;
}

.principal {
    grid-area: principal;
    height: calc(100vh - 240px);                      /*altura fixa, os 100vh de altura subtraindo 180px que é o rodapé + cabeçalho*/
    background-color: #f0f0f0;
    padding: 20px;                                     /*padding para não ficar grudado*/
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;                               /*se o conteúdo do eixo Y extrapolar, um scroll é adicionado para navegação*/
    background-color: white;
    padding: 20px;
}

.rodape {
    grid-area: rodape;
    background-color: #f0f0f0;
    display: flex;
    justify-content: flex-end;                       /* alinha pro final da linha*/
    align-items: center;                             /* coloca o conteudo no meio */
    font-size: 1.2rem;
    padding: 0px 20px;                              /*0px pro eixo vertical, 20px pro eixo horizontal*/
    color: #444
    /*position: sticky;            para deixar o rodapé com tamanho fixo
    bottom: 0px;*/
}

.modulos {
    display: flex;                                  /*coloca todos os elementos em uma mesma linha*/
    flex-wrap: wrap;                                /*permite a quebra de linha*/
    justify-content: space-around;                  /*espaça os módulos*/
}

.modulo {
    flex-basis: 32%;                                /*faz com que cada elemento (módulo) ocupe 32% da tela*/
    margin-bottom: 20px;                            /*espaça uns pouco os módulos*/
    border-radius: 5px;
}

.modulo > h3 {
    margin: 0px;
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: rgb(71, 138, 71)
}

.modulo > ul {                             /*faz modificações no elemento de lista*/
    margin: 0px;
    padding: 10px;
    list-style: none;              /*tira as bolinhas da lista de exercícios*/
}

.modulo > ul > li {                       /*faz modificações referente a cada item da lista*/
    padding: 10px;
    font-size: 1.3rem;
    cursor: pointer;                      /*quando o cursor passar em cima do item da lista ele muda de forma*/
}

.modulo > ul > li > a {                    /*faz modificações no estilo dos links*/
    display: flex;
    text-decoration: none;                 /*remove os sublinhados*/
    color: #222;
}

.modulo > ul > li:hover {                /*coloca um hover na lista*/
    background-color: #eee;
}

.modulo.verde{ border: 2px solid #a4d3a4 }
.modulo.verde > h3 { background-color: #a4d3a4 }

.modulo.vermelho{ border: 2px solid #ec7565 }
.modulo.vermelho > h3 { background-color: #ec7565 }

.modulo.azul{ border: 2px solid rgb(75, 198, 255) }
.modulo.azul > h3 { background-color: rgb(75, 198, 255) }

.modulo.roxo{ border: 2px solid rgb(155, 107, 167) }
.modulo.roxo > h3 { background-color: rgb(155, 107, 167) }

.modulo.laranja{ border: 2px solid rgb(243, 180, 64) }
.modulo.laranja > h3 { background-color: rgb(243, 180, 64) }

.modulo.verde-escuro{ border: 2px solid green }
.modulo.verde-escuro > h3 { background-color: green }

.modulo.vermelho-escuro{ border: 2px solid rgb(114, 0, 0) }
.modulo.vermelho-escuro > h3 { background-color: rgb(114, 0, 0) }

.modulo.azul-escuro{ border: 2px solid navy }
.modulo.azul-escuro > h3 { background-color: navy }

.modulo.roxo-escuro{ border: 2px solid rgb(65, 0, 65) }
.modulo.roxo-escuro > h3 { background-color: rgb(65, 0, 65) }

.modulo.laranja-escuro{ border: 2px solid rgb(180, 117, 0) }
.modulo.laranja-escuro > h3 { background-color: rgb(180, 117, 0) }

                       /*tirando a margem do parágrafo e do hr*/
p.divisao {
    margin-bottom: 0px;
    font-weight: bold;
}    

hr {
    margin-top: 0px;
}    

.navegacao {
    grid-area: navegacao;
    display: flex;                        /*junta em uma linha*/
    justify-content: flex-end;            /*coloca os links no final da linha*/
    align-items: center;                  /*coloca os links no meio do espaço*/
    background-color: #555;
}

.navegacao > a {                        /*edita a formatação dos links*/
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: #2196f3;
    padding: 5px 10px;
    margin-right: 10px;
}

.navegacao > a.verde { background-color: #a4d3a4 }
.navegacao > a.vermelho { background-color: #ec7565 }

span.usuario {
    flex-grow: 1;
    justify-self: flex-start;
    color: #eee;
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}

